/* ===== SKY ===== */
.div1{
    height:1200px;
    width:100%;
    overflow:hidden;
    background:linear-gradient(to bottom,#66ccff,#fff2b2);
    position:relative;
}

/* ===== SUN ===== */

.div2{
    position:absolute;
    top:45px;
    left:45px;
    width:140px;
    height:140px;
    background:radial-gradient(circle,#fff176,#ff9800);
    border-radius:50%;
    box-shadow:0 0 80px #ff9800;
    border:4px dashed rgba(255,152,0,0.4);
}

/* ===== CLOUD 1 ===== */
.div3{
    position:absolute;
    top:150px;
    left:-250px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 20s linear infinite;
}
.div4{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div4::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== CLOUD 2 ===== */
.div5{
    position:absolute;
    top:100px;
    left:-300px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 30s linear infinite;
}
.div6{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div6::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== NEW CLOUD 3 ===== */
.div18{
    position:absolute;
    top:220px;
    left:-350px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 25s linear infinite;
}
.div19{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div19::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== NEW CLOUD 4 ===== */
.div20{
    position:absolute;
    top:60px;
    left:-400px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 35s linear infinite;
}
.div21{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div21::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== CLOUD ANIMATION ===== */
@keyframes moveCloud{
    0%{ left:-400px; }
    100%{ left:110%; }
}

/* ===== BIRDS ===== */
.bird{
    position:absolute;
    top:220px;
    left:-120px;
    font-size:28px;
    animation: birdForward 12s linear infinite;
}
.bird.two{
    top:260px;
    animation-duration:16s;
}
@keyframes birdForward{
    from{ transform:translateX(0); }
    to{ transform:translateX(130vw); }
}

/* ===== GROUND & KID (UNCHANGED) ===== */
.div7{height:120px;width:100%;background:linear-gradient(#66bb6a, rgb(255,188,2));}
.div8{height:154px;width:154px;background:#fff2b2;border-radius:376px;position:absolute;margin-top:-23%;margin-left:466px;}
.div9{width:0;height:0;border-left:86px solid transparent;border-right:86px solid transparent;border-bottom:101px solid red;position:absolute;margin-top:-57px;margin-left:-10px;border-radius:20px;}
.div10,.div11{height:10px;width:10px;background:#000;border-radius:20px;position:absolute;margin-top:66px;}
.div10{margin-left:37px;} .div11{margin-left:110px;}
.div12{width:80px;height:40px;border:4px solid black;border-color:transparent transparent black transparent;border-radius:0 0 80px 80px;position:absolute;margin-top:79px;margin-left:36px;}
.div13{height:62px;width:60px;background:#fff2b2;position:absolute;margin-top:-16%;margin-left:27%;border-radius:9px;}
.div14{margin-top:-14%;border-radius:10px;margin-left:24%;position:absolute;height:200px;width:184px;background:red;}
.div15,.div16{height:75px;width:2px;background:#8e0404;position:absolute;margin-top:-10px;}
.div15{rotate:-48deg;margin-left:61px;}
.div16{rotate:47deg;margin-left:119px;}
.div17{height:151px;width:3px;background:#8e0404;margin-top:48px;margin-left:91px;}

.div22{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -71%;
    margin-left: 54%;
}


.div23{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -52%;
    margin-left: 54%;
}


.div24{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -33%;
    margin-left: 54%;
}


.div25{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -14%;
    margin-left: 54%;
}

.div26{
    height: 150px;
    width: 60px;
    background-color: red;
    position: absolute;
    margin-left: 25%;
    margin-top: -4%;
    border-radius: 12px;
}

.div27{
    height: 42px;
    width: 41px;
    background-color: red;
    position: absolute;
    margin-left: 28%;
    margin-top: -66px;
}

.div28{
    height: 150px;
    width: 60px;
    background-color: red;
    position: absolute;
    margin-left: 556px;
    margin-top: -4%;
    border-radius: 12px; 
}

.div29{
    height: 41px;
    width: 3px;
    background-color: black;
    position: absolute;
    margin-left: 15px;
}

.div30{
    height: 30px;
    position: absolute;
    width: 46px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 483px;
}

.div31{
    height: 30px;
    position: absolute;
    width: 46px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 564px;
}

.div32{
    height: 44px;
    position: absolute;
    width: 99px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 430px;
    border-top-left-radius: 64px;
    border-top-right-radius: 36px;
}

.div33{
   height: 44px;
    position: absolute;
    width: 99px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 564px;
    border-top-right-radius: 65px;
}

.div34{
    height: 118px;
    width: 70%;
    margin: auto;
    margin-top: 128px;
}

.Sankranti{
    position: absolute;
    right: 15%;
    top: 2%;
    text-align: right;
    font-size: 95px;
    font-weight: 900;
    color: #ff5722;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff9800, 0 0 40px #ff5722, 0 0 80px #ff1744;
    animation: glow 2s infinite alternate;  
}


@keyframes glow{
    0%{
        text-shadow:
            0 0 5px #fff,
            0 0 10px #ff9800,
            0 0 20px #ff5722,
            0 0 40px #ff1744;
    }
    100%{
        text-shadow:
            0 0 10px #fff,
            0 0 20px #ff9800,
            0 0 40px #ff5722,
            0 0 80px #ff1744;
    }
}

.div35{
    height: 40px;
    width: 51px;
    background-color: red;
    position: absolute;
    margin-left: -21%;
    margin-top: 0px;
}

.div36{

}