/* ===== SKY ===== */
.div1{
    height:1200px;
    width:100%;
    overflow:hidden;
    background:linear-gradient(to bottom,#66ccff,#fff2b2);
    position:relative;
}

/* ===== SUN ===== */

.div2{
    position:absolute;
    top:45px;
    left:45px;
    width:140px;
    height:140px;
    background:radial-gradient(circle,#fff176,#ff9800);
    border-radius:50%;
    box-shadow:0 0 80px #ff9800;
    border:4px dashed rgba(255,152,0,0.4);
}

/* ===== CLOUD 1 ===== */
.div3{
    position:absolute;
    top:150px;
    left:-250px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 20s linear infinite;
}
.div4{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div4::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== CLOUD 2 ===== */
.div5{
    position:absolute;
    top:100px;
    left:-300px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 30s linear infinite;
}
.div6{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div6::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== NEW CLOUD 3 ===== */
.div18{
    position:absolute;
    top:220px;
    left:-350px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 25s linear infinite;
}
.div19{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div19::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== NEW CLOUD 4 ===== */
.div20{
    position:absolute;
    top:60px;
    left:-400px;
    width:160px;
    height:45px;
    background:#fff;
    border-radius:100px;
    animation: moveCloud 35s linear infinite;
}
.div21{
    position:absolute;
    top:-41px;
    left:20px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}
.div21::after{
    content:"";
    position:absolute;
    top:-12px;
    left:57px;
    width:65px;
    height:65px;
    background:#fff;
    border-radius:50%;
}

/* ===== CLOUD ANIMATION ===== */
@keyframes moveCloud{
    0%{ left:-400px; }
    100%{ left:110%; }
}

/* ===== BIRDS ===== */
.bird{
    position:absolute;
    top:220px;
    left:-120px;
    font-size:28px;
    animation: birdForward 12s linear infinite;
}
.bird.two{
    top:260px;
    animation-duration:16s;
}
@keyframes birdForward{
    from{ transform:translateX(0); }
    to{ transform:translateX(130vw); }
}

/* ===== GROUND & KID (UNCHANGED) ===== */
.div7{height:120px;width:100%;background:linear-gradient(#66bb6a, rgb(255,188,2));}
.div8{height:154px;width:154px;background:#fff2b2;border-radius:376px;position:absolute;margin-top:-23%;margin-left:466px;}
.div9{width:0;height:0;border-left:86px solid transparent;border-right:86px solid transparent;border-bottom:101px solid red;position:absolute;margin-top:-57px;margin-left:-10px;border-radius:20px;}
.div10,.div11{height:10px;width:10px;background:#000;border-radius:20px;position:absolute;margin-top:66px;}
.div10{margin-left:37px;} .div11{margin-left:110px;}
.div12{width:80px;height:40px;border:4px solid black;border-color:transparent transparent black transparent;border-radius:0 0 80px 80px;position:absolute;margin-top:79px;margin-left:36px;}
.div13{height:62px;width:60px;background:#fff2b2;position:absolute;margin-top:-16%;margin-left:27%;border-radius:9px;}
.div14{margin-top:-14%;border-radius:10px;margin-left:24%;position:absolute;height:200px;width:184px;background:red;}
.div15,.div16{height:75px;width:2px;background:#8e0404;position:absolute;margin-top:-10px;}
.div15{rotate:-48deg;margin-left:61px;}
.div16{rotate:47deg;margin-left:119px;}
.div17{height:151px;width:3px;background:#8e0404;margin-top:48px;margin-left:91px;}

.div22{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -71%;
    margin-left: 54%;
}


.div23{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -52%;
    margin-left: 54%;
}


.div24{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -33%;
    margin-left: 54%;
}


.div25{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    margin-top: -14%;
    margin-left: 54%;
}

.div26{
    height: 150px;
    width: 60px;
    background-color: red;
    position: absolute;
    margin-left: 25%;
    margin-top: -4%;
    border-radius: 12px;
}

.div27{
    height: 42px;
    width: 41px;
    background-color: red;
    position: absolute;
    margin-left: 28%;
    margin-top: -66px;
}

.div28{
    height: 150px;
    width: 60px;
    background-color: red;
    position: absolute;
    margin-left: 556px;
    margin-top: -4%;
    border-radius: 12px; 
}

.div29{
    height: 41px;
    width: 3px;
    background-color: black;
    position: absolute;
    margin-left: 15px;
}

.div30{
    height: 30px;
    position: absolute;
    width: 46px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 483px;
}

.div31{
    height: 30px;
    position: absolute;
    width: 46px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 564px;
}

.div32{
    height: 44px;
    position: absolute;
    width: 99px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 430px;
    border-top-left-radius: 64px;
    border-top-right-radius: 36px;
}

.div33{
   height: 44px;
    position: absolute;
    width: 99px;
    background-color: rgb(165, 42, 42);
    margin-top: 72px;
    margin-left: 564px;
    border-top-right-radius: 65px;
}

.div34{
    height: 118px;
    width: 70%;
    margin: auto;
    margin-top: 128px;
}

.Sankranti{
    position: absolute;
    right: 15%;
    top: 2%;
    text-align: right;
    font-size: 95px;
    font-weight: 900;
    color: #ff5722;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff9800, 0 0 40px #ff5722, 0 0 80px #ff1744;
    animation: glow 2s infinite alternate;  
}


@keyframes glow{
    0%{
        text-shadow:
            0 0 5px #fff,
            0 0 10px #ff9800,
            0 0 20px #ff5722,
            0 0 40px #ff1744;
    }
    100%{
        text-shadow:
            0 0 10px #fff,
            0 0 20px #ff9800,
            0 0 40px #ff5722,
            0 0 80px #ff1744;
    }
}

.div35{
    height: 40px;
    width: 51px;
    background-color: red;
    position: absolute;
    margin-left: -21%;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
}

/* ===== BOY HANDS (ADDED CODE ONLY) ===== */

/* LEFT ARM */
.hand-left{
    height: 155px;
    width: 24px;
    background-color: #f0e4ab;
    position: absolute;
    margin-top: 38px;
    margin-left: -10px;
    rotate: 20deg;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.div37{
    height: 40px;
    width: 51px;
    background-color: red;
    position: absolute;
    margin-left: 95%;
    margin-top: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; 
}

.hand-right{
    height: 155px;
    width: 24px;
    background-color: #f0e4ab;
    position: absolute;
    margin-top: 37px;
    margin-left: 35px;
    rotate: -23deg;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.div38{
    height: 134px;
    width: 7px;
    background-color: black;
    position: absolute;
    margin-left: 78px;
    margin-top: 124px;
    rotate: 90deg;
    border-radius: 20px;
}

.div39{
    height: 46px;
    width: 89px;
    background-color: brown;
    position: absolute;
    margin-top: 170px;
    border-radius: 14px;
    margin-left: 37px;
}

.div40{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 10px;
}

.div41{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 14px;
}

.div42{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 18px;
}

.div43{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left:22px;
}

.div44{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 26px;
}

.div45{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 30px;
}

.div46{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 34px;
}

.div47{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 38px;
}

.div48{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 42px;
}

.div49{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 46px;
}

.div50{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 50px;
}

.div51{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 54px;
}

.div52{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 58px;
}

.div53{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 62px;
}

.div54{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 66px;
}

.div55{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 70px;
}

.div56{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 74px;
}

.div57{
    height: 45px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 78px;
}

.div58{
    height: 42px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 6px;
    margin-top: 2px;
}

.div59{
    height: 34px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 2px;
    margin-top: 7px;
}

.div60{
    height: 42px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 82px;
    margin-top: 2px;
}

.div61{
    height: 34px;
    width: 2px;
    background-color: red;
    position: absolute;
    margin-left: 86px;
    margin-top: 6px;
}

.div62{
    height: 700px;
    width: 2px;
    background-color: red;
    margin-left: 181px;
    position: absolute;
    margin-top: -664px;
    rotate: 25deg;
}

.div63{
    height: 145px;
    width: 145px;
    background-color: yellow;
    position: absolute;
    margin-top: -790px;
    margin-left: 309px;
    rotate: 74deg;
}

.wood1{
    height: 203px;
    width: 2px;
    background-color: rgb(181, 55, 1);
    rotate: -44deg;
    position: absolute;
    margin-top: -29px;
    margin-left: 70px;
}

.wood2{
    width: 280px;
    height: 280px;
    border: 4px solid rgb(181, 55, 1);
    border-color: rgb(181, 55, 1) transparent transparent transparent;
    border-radius: 217px 215px 0 0;
    rotate: -45deg;
    margin-top: 0px;
    margin-left: 0px;
}

.rope1{
    height: 61px;
    width: 2px;
    background-color: srgb(255, 0, 0);
    position: absolute;
    margin-left: 66px;
    margin-top: 18px;
    rotate: -78deg;
}

.rope2{
    height: 61px;
    width: 2px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    margin-left: 66px;
    margin-top: 18px;
    rotate: -78deg;
}